page-support {
	font-size: 14pt;

	font-size: 14pt;

	.right-panel {
		background: #eee;
	}

	.media {
		margin-left: 150px;
		margin-right: 30px;
		.media-right {
			img {
				width: 40px; height: 40px;
				max-width: 40px; border-radius:50%;
			}
		}
	}

	.chat-area {
	    bottom: 0;
    	background: #eee;
	}
}
