<ion-content>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="assets/logo.png" width="80px;" />
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="text-white" (click)="goDash()"><ion-icon ios="ios-contacts" md="ios-contacts"></ion-icon> Enrolled</a></li>
				<li><a class="text-white" (click)="goPending()"><ion-icon ios="ios-people" md="ios-people"></ion-icon> Pending</a></li>
				<li class="active"><a class="text-white"> <ion-icon ios="ios-people-outline" md="ios-people-outline"></ion-icon> Declined</a></li>
				<li><a class="text-white" (click)="goSupport()"><ion-icon ios="ios-help-buoy" md="ios-help-buoy"></ion-icon> Support</a></li>
				<li><a class="text-white" (click)="goProfile()"><ion-icon ios="ios-contact" md="ios-contact"></ion-icon> Profile</a></li>
			</ul>				
		</div>
	</div>

	<div>
		<div class="row content">
			<div class="col-sm-2 left-panel style-5">
				<div class="card" *ngFor="let contact of rooms" (click)="selectContact(contact)">
					<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.user.id}}" style="border-radius:50%;">
					<div class="body">
						<h4 class="media-heading">{{contact.user.name}}</h4>
						<small class="text-muted">sent at {{contact.sent_at+"Z" | amCalendar}}</small>
					</div>
					<div class="right">
					</div>						
				</div>
				<div class="text-center" *ngIf="rooms.length == 0" style="padding-top: 15px;">
					<small class="text-muted"><i>No declined</i></small>
				</div>
			</div>

			<div class="col-sm-10 right-panel style-5" style="padding: 0;">
				<div *ngIf="!selected" class="jumbotron" style="height: 100%; margin: 0;">
				</div>
				<div *ngIf="selected" class="jumbotron" style="height: 100%; margin: 0;" >
					<div class="contact-card" *ngFor="let contact of [selected]">
						<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.user.id}}" style="border-radius:50%;">
						<div class="body">
							<h2 class="media-heading">{{selected.user.name}}</h2>
							<span class="text-muted">{{selected.user.email}}</span><br/>
							<span class="text-muted">Permission declined at {{contact.declined_at+"Z" | amCalendar}}</span><br/>
						</div>
						<div class="right">
							<!-- <button type="button" class="btn btn-primary" (click)="resend()">Resend</button> -->
					    </div>
					</div>
					
					<div class="chat-area style-5">
						<div ng-show="view.selected" class="media" *ngFor="let msg of selected.messages | reverse">
							<div class="media-body text-right">						
								<div class="panel panel-default">
									<div class="panel-body text-right">
										<p>{{msg.message}}</p>
										<p>
											<small class="text-muted ng-binding">{{msg.created_at+"Z" | amCalendar}}</small>	
										</p>
									</div>
								</div>
							</div>
							<div class="media-right">
								<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{msg.sender_id}}" style="border-radius:50%;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>