page-profile {
	font-size: 14pt;

	li {
		cursor: pointer; cursor: hand;
	}

	li.list-group-item:hover {
		background: #f0f0f0;
	}

	form {
		color: #333333;
	}

	.form-control {
		font-size: 14pt;
	}

	.form-control[readonly] {
		background-color: #f0f0f0;
	}
}
