<ion-content>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="assets/logo.png" width="80px;" />
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="text-white" (click)="goDash()"><ion-icon ios="ios-contacts" md="ios-contacts"></ion-icon> Enrolled</a></li>
				<li><a class="text-white" (click)="goPending()"><ion-icon ios="ios-people" md="ios-people"></ion-icon> Pending</a></li>
				<li><a class="text-white" (click)="goDeclined()"> <ion-icon ios="ios-people-outline" md="ios-people-outline"></ion-icon> Declined</a></li>
				<li><a class="text-white" (click)="goSupport()"><ion-icon ios="ios-help-buoy" md="ios-help-buoy"></ion-icon> Support</a></li>
				<li class="active"><a class="text-white"><ion-icon ios="ios-contact" md="ios-contact"></ion-icon> Profile</a></li>
			</ul>				
		</div>
	</div>

	<div>
		<div class="row content">
			<div class="col-sm-2 left-panel style-5">
				<ul class="list-group">
					<li class="list-group-item" (click)="select='profile'">Profile</li>
					<li class="list-group-item" (click)="select='reset'">Reset Password</li> 
					<li class="list-group-item" (click)="logout();">Logout</li> 
				</ul>
			</div>  

			<div class="col-sm-10 right-panel style-5" style="padding: 0;">
				<div class="jumbotron text-center" style="height: 100%; margin: 0;">
					<form [hidden]="select!='profile'" style="width: 500px; display: inline-block;" class="ng-pristine ng-valid" [formGroup]='updateForm' (ngSubmit)="update()">
						<h2 class="text-left">
							Profile
						</h2>
						<div class="form-group">
							<input type="text" class="form-control" 
							placeholder="Organization Name"
							formControlName="name">
							<div *ngFor="let errors of formErrors.name" class="alert alert-danger">{{errors}}</div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" formControlName="email" readonly>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name" style="display: inline-block; width: 49%;" formControlName="firstName">
							<input type="text" class="form-control" placeholder="Last Name" style="display: inline-block; width: 49%;" formControlName="lastName">
							<div *ngFor="let errors of formErrors.firstName" class="alert alert-danger">{{errors}}</div>
							<div *ngFor="let errors of formErrors.lastName" class="alert alert-danger">{{errors}}</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Address" formControlName="address">
							<div *ngFor="let errors of formErrors.address" class="alert alert-danger">{{errors}}</div>
						</div>
						<div class="form-group">
							<input type="tel" class="form-control" placeholder="Phone number" formControlName="phone">
							<div *ngFor="let errors of formErrors.phone" class="alert alert-danger">{{errors}}</div>
						</div>
						<div class="form-group">
							<textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>

					<form [hidden]="select!='reset'" style="width: 500px; display: inline-block;" class="ng-pristine ng-valid" [formGroup]='resetForm' (ngSubmit)="reset()">
						<h2 class="text-left">
							Reset Password
						</h2>
						<div class="form-group">
							<label>Password</label>
							<input type="Password" class="form-control" placeholder="Password" formControlName="oldPassword">
							<div *ngFor="let errors of formErrors.oldPassword" class="alert alert-danger">{{errors}}</div>
						</div>
						<div class="form-group">
							<label>New Password</label>
							<input type="Password" class="form-control" placeholder="New Password" formControlName="password">
							<div *ngFor="let errors of formErrors.password" class="alert alert-danger">{{errors}}</div>
						</div>						
						<div class="form-group">
							<label>Confirm Password</label>
							<input type="Password" class="form-control" placeholder="Confirmed Password" validateEqual="password" formControlName="confirmPassword">
							<div *ngFor="let errors of formErrors.confirmPassword" class="alert alert-danger">{{errors}}</div>
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</ion-content>