<ion-content padding class="text-center">
	<form style="width: 300px; display: inline-block;" class="ng-pristine ng-valid text-center" (ngSubmit)="onLogin()">
		<img src="assets/logo.png" width="100%">

		<div class="form-group">
			<label for="email">Email address:</label>
			<input type="email" class="form-control" id="email" name="email" [(ngModel)]="data.email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="data.password">
		</div>
		<div class="checkbox text-left">
			<label><input type="checkbox" name="needRemember" [(ngModel)]="data.needRemember" /> Remember me</label>
		</div>
		<div *ngFor="let errors of formErrors" class="alert alert-danger">{{errors}}</div>
		<button type="submit" class="btn btn-success" style="width: 100px;">Login</button>
		<button type="button" class="btn btn-success" style="width: 100px;" (click)="onSignup()">Signup</button>
	</form>
	<div style="margin-top: 20px;">
		<a href="#/forgot" class="forgot-pass">
            Forgot your Password?
        </a>
	</div>
</ion-content>
