<ion-content>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="assets/logo.png" width="80px;" />
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="text-white" (click)="goDash()"><ion-icon ios="ios-contacts" md="ios-contacts"></ion-icon> Enrolled</a></li>
				<li><a class="text-white" (click)="goPending()"><ion-icon ios="ios-people" md="ios-people"></ion-icon> Pending</a></li>
				<li><a class="text-white" (click)="goDeclined()"> <ion-icon ios="ios-people-outline" md="ios-people-outline"></ion-icon> Declined</a></li>
				<li class="active"><a class="text-white"><ion-icon ios="ios-help-buoy" md="ios-help-buoy"></ion-icon> Support</a></li>
				<li><a class="text-white" (click)="goProfile()"><ion-icon ios="ios-contact" md="ios-contact"></ion-icon> Profile</a></li>
			</ul>				
		</div>
	</div>

	<div>
		<div class="row content">
			<div class="col-sm-2 left-panel style-5">
			</div>

			<div class="col-sm-10 right-panel style-5" style="padding: 0;">
				<div class="jumbotron" style="height: 100%; margin: 0;">
				</div>
			</div>
		</div>
	</div>
</ion-content>