// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-center {
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}

h2 {
	font-size: 30pt;
}

a {
    cursor: pointer; cursor: hand;
}

.style-5::-webkit-scrollbar-track
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.style-5::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

ion-app {
	.navbar {
		font-size: 14pt;
		background: #0abbd8;
		width: 100%;
		height: 60px;

		.container {
			margin: 0px;
			width: 100% !important;
		}

		li {
			padding-top: 2px;
			a,
			a:hover,
			a:focus {
				color: #fff;
				background: transparent;
			}
			a.active,
			a.active:hover,
			a.active:focus {
				color: #fff;
				background-color: #09a0b8;
			}
		}

		li.active {
			a {
				color: #fff;
				background-color: #09a0b8;
			}
		}
	}

	.navbar-brand {
		padding: 10px;
	}

	.left-panel {
		position: absolute;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0px 0;
	}

	.right-panel {
		position: absolute;
		top: 60px;
		bottom: 0;
		right: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.chat-area {
		background: white;
		position: absolute;
		top: 200px;
		bottom: 41px;
		right: 0;
		overflow-y: auto;
		width: 100%;
		padding: 10px;
	}

	.chatbox {
		background: #eceeef;
		position: absolute;
		height: 37px;
		right: 0;
		width: 100%;
		bottom: 0px;

		input {
			position: absolute;
			left: 0px !important;
			width: 100% !important;
			padding-right: 80px;
		}

		button {
			position: absolute;
			right: 0px;
			width: 80px;
		}
	}

	.card {
		height: 80px;
		padding: 10px;
		cursor: pointer; cursor: hand;
		overflow: visible;
		
		white-space: nowrap;

		img {
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			vertical-align: top;
		}

		.body {
			display: inline-block;
			vertical-align: top;
			padding-left: 5px;
		}

		.right {
			position: relative;
			top: -100%;
			text-align: right;
			width: 100%;

			.label {
				display: inline-block;
				border-radius: 1em;
			}
		}
	}

	.card:hover {
		background: rgba(10, 176, 200, 0.3);
	}

	.contact-card {
		padding: 0px 30px;

		img {
			position: relative;
			left: 0;
			top: 0;
			width: 120px;
			height: 120px;
			border-radius: 50%;
		}
		.body {
			position: relative;
			left: 150px;
			right: 100px;
			top: -120px;

			span {
				font-size: 11pt;
			}
		}
		.right {
			position: relative;
			right: 0px;
			top: -240px;
			float: right;
		}
	}
}


// search box
.search-form .form-group {
  //float: right !important;
  //transition: all 0.35s, border-radius 0s;
  width: 100%px;
  height: 32px;
  background-color: #fff;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  //border-radius: 25px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
//.search-form .form-group:hover,
//.search-form .form-group.hover {
//  width: 100%;
//  border-radius: 4px 25px 25px 4px;
//}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
