<ion-content>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="assets/logo.png" width="80px;" />
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a class="text-white"><ion-icon ios="ios-contacts" md="ios-contacts"></ion-icon> Enrolled</a></li>
				<li><a class="text-white" (click)="goPending()"><ion-icon ios="ios-people" md="ios-people"></ion-icon> Pending</a></li>
				<li><a class="text-white" (click)="goDeclined()"> <ion-icon ios="ios-people-outline" md="ios-people-outline"></ion-icon> Declined</a></li>
				<li><a class="text-white" (click)="goSupport()"><ion-icon ios="ios-help-buoy" md="ios-help-buoy"></ion-icon> Support</a></li>
				<li><a class="text-white" (click)="goProfile()"><ion-icon ios="ios-contact" md="ios-contact"></ion-icon> Profile</a></li>
			</ul>				
		</div>
	</div>

	<div>
		<div class="row content">
			<div class="col-sm-2 left-panel style-5">
				<div>
					<form action="" class="search-form">
						<div class="form-group has-feedback">
							<label for="search" class="sr-only">Search</label>
							<input type="text" class="form-control" name="search" id="search" placeholder="search" 
							[(ngModel)]="searchKey" 
							(keyup.enter)="searchPerson()"
							(ngModelChange)="needSearch=true; searchedPersons=[];">
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					</form>
				</div>
				<div *ngIf="(contacts | searchFilter:searchKey)?.length === 0" class="text-center" style="padding: 5px;">
					<button [hidden]="!needSearch" type="button" class="btn btn-primary" (click)="searchPerson()">Search</button>
					<div [hidden]="!isSearching">
						<ion-spinner name="dots"></ion-spinner>
					</div>
				</div>
				<div class="card" [hidden]="searchKey==''" *ngFor="let contact of searchedPersons" (click)="selectPerson(contact);">
					<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.id}}" style="border-radius:50%;" title="{{contact.name}}">
					<div class="body">
						<h4 class="media-heading">{{contact.name}}</h4>
						<small class="text-muted"><i>{{contact.address}}</i><i [hidden]="contact.address!=''">No address</i></small>
					</div>
				</div>
				<div class="card" *ngFor="let contact of contacts | searchFilter:searchKey"  (click)="selectContact(contact);">
					<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.user.id}}" style="border-radius:50%;" title="{{contact.user.name}}"/>
					<div class="body">
						<h4 class="media-heading">{{contact.user.name}}</h4>
						<small class="text-muted">sent at {{contact.sent_at}}</small> 
					</div>
					<div class="right">
						<span [hidden]="contact.unreads==0" class="label label-danger label-as-badge ng-binding">{{contact.unreads}}</span>
					</div>
				</div>
			</div>

			<div class="col-sm-10 right-panel style-5" style="padding: 0;">
				<div *ngIf="view.selectedPerson"					
					class="jumbotron" style="height: 100%; margin: 0;" >
					<div class="contact-card" *ngFor="let contact of [view.selectedPerson]">
						<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.id}}" style="border-radius:50%;" title="{{contact.name}}">
						<div class="body">
							<h2 class="media-heading">{{contact.name}}</h2>
							<span class="text-muted">{{contact.email}}</span><br/>
							<span class="text-muted">{{contact.address}}<i [hidden]="contact.address!=''">No address</i></span><br/>
							<span class="text-muted">Created at {{contact.created_at}}</span><br/>
							<!-- <span class="text-muted">Permission granted at {{contact.permited_at}}</span><br/> -->
						</div>
						<div class="right">
					    </div>
					</div>
					<div class="text-center" *ngFor="let contact of [view.selectedPerson]">
						<div style="width:500px; display: inline-block;">
						<textarea style="width:500px; height: 200px;" [(ngModel)]="reqMessage" >Hi, {{contact.name}}, I'd like contact with you.</textarea>
						<p>
						<button type="button" class="btn btn-primary" style="width: 200px;" (click)="sendRequest()">Send</button>
						</p>
						</div>
					</div>
				</div>
				<div *ngIf="view.selected==undefined && view.selectedPerson==undefined" class="jumbotron" style="height: 100%; margin: 0;">
				</div>
				<div *ngIf="view.selected" class="jumbotron" style="height: 100%; margin: 0;">
					<div class="contact-card" *ngFor="let contact of [view.selected]">
						<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{contact.user.id}}" style="border-radius:50%;" title="{{contact.user.name}}"/>
						<div class="body">
							<h2 class="media-heading">{{contact.user.name}}</h2>
							<span class="text-muted">{{contact.user.email}}</span><br/>
							<span class="text-muted">Permission requested at {{contact.sent_at+"Z" | amCalendar}}</span><br/>
							<span class="text-muted">Permission granted at {{contact.permited_at+"Z" | amCalendar}}</span><br/>
						</div>
						<div class="right">
					      <button type="button" class="btn btn-danger" ng-click="removeContact(view.selected);">Remove</button>
					    </div>
					</div>

					<div #chatArea class="chat-area style-5" *ngFor="let contact of [view.selected]">
						<div *ngFor="let msg of contact.messages | reverse">
							<div ng-show="view.selected">
								<div class="chat" *ngIf="msg.sender_id==contact.user.id">
									<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{msg.sender_id}}" style="border-radius:50%;">
									<div class="body" [ngClass]="{'unread': msg.delivery_at==null}">
										<span>{{msg.message}}</span>
										<br/>
										<small class="text-muted ng-binding">{{msg.created_at+"Z" | amCalendar}}</small>
									</div>
								</div>
								<div class="chat-right" *ngIf="msg.sender_id==me.id">
									<div class="body">
										<span>{{msg.message}}</span>
										<br/>
										<small class="text-muted ng-binding">{{msg.created_at+"Z" | amCalendar}}</small>	
									</div>								
									<img src="http://ec2-52-55-219-203.compute-1.amazonaws.com:8080/api/avatar/{{me.id}}" style="border-radius:50%;">
								</div>
							</div>				
						</div>
					</div>

					<div ng-show="view.selected" class="chatbox form-inline">
						<input type="text" class="form-control" placeholder="Your message..." [(ngModel)]="view.selected.text" (keyup.enter)="sendMessage()">
						<button type="submit" class="btn btn-primary" 							(click)="sendMessage()">Send</button>
					</div>

				</div>
			</div>


		</div>
	</div>
	
</ion-content>