page-dash {
	font-size: 14pt;

	.chat {
		margin: 10px 0px;
		img {
			vertical-align: top;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.body {
			display: inline-block;
			vertical-align: top;
			width:  auto;
			border: 1px solid #dddddd;
			border-radius: 4px;
			padding: 10px;
			margin-left: 10px;
		}

		.unread {
			border-left: 5px #f80 solid;
		}
	}

	.chat-right {
		margin: 10px 0px;
		text-align: right;
		img {
			vertical-align: top;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.body {
			display: inline-block;
			vertical-align: top;
			width:  auto;
			border: 1px solid #dddddd;
			border-radius: 4px;
			padding: 10px;
			margin-right: 10px;
		}
	}
	.chat-right::after {
		content: "";
		clear: both;
	}
}
