<ion-content padding class="text-center">
	<form style="width: 500px; display: inline-block;" 
		class="ng-pristine ng-valid text-center"
		[formGroup]='form' (ngSubmit)="submit()">
		<img src="assets/logo.png" width="60%">

		<h3 style="margin-bottom: 30px;">Forgot Password</h3>

		<div [hidden]="result.submitted" class="">
			<label>Please let us know email address and phone number of your account. We will send a link for reset password in your mail box.</label>
			<br/><br/>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" formControlName="email">
				<div *ngFor="let errors of formErrors.email" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="tel" class="form-control" placeholder="Phone number" formControlName="phone">
				<div *ngFor="let errors of formErrors.phone" class="alert alert-danger">{{errors}}</div>
			</div>
			<button type="submit" [disabled]="!form.valid" class="btn btn-success">Send</button>
			<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
		</div>

		<div [hidden]="!result.successed" class="alert alert-success ng-hide">
			<h4><strong>Success!</strong> We have sent a link to your email for the activation of your account. Please check your mail box. <br><br><a href="#/login" class="alert-link">Return back to the login page</a></h4>
		</div>
	</form>
	<div style="margin-top: 20px;">
		<a href="#/forgot" class="forgot-pass">
            Forgot your Password?
        </a>
	</div>
</ion-content>