<ion-content padding class="text-center">
	<form style="width: 500px; display: inline-block;" 
		class="ng-pristine ng-valid text-center"
		[formGroup]='form' (ngSubmit)="submit()">
		<img src="assets/logo.png" width="60%">

		<h3 style="margin-bottom: 30px;">Create A New Account</h3>

		<div [hidden]="result.submitted" class="">
			<div class="form-group">
				<input type="text" class="form-control" 
				placeholder="Organization Name"
				formControlName="name">
				<div *ngFor="let errors of formErrors.name" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" formControlName="email">
				<div *ngFor="let errors of formErrors.email" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="First Name" style="display: inline-block; width: 49%;" formControlName="firstName">
				<input type="text" class="form-control" placeholder="Last Name" style="display: inline-block; width: 49%;" formControlName="lastName">
				<div *ngFor="let errors of formErrors.firstName" class="alert alert-danger">{{errors}}</div>
				<div *ngFor="let errors of formErrors.lastName" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="Password" class="form-control" placeholder="Password" formControlName="password">
				<div *ngFor="let errors of formErrors.password" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="Password" class="form-control" placeholder="Confirmed Password" validateEqual="password" formControlName="confirmPassword">
				<div *ngFor="let errors of formErrors.confirmPassword" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Address" formControlName="address">
				<div *ngFor="let errors of formErrors.address" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<input type="tel" class="form-control" placeholder="Phone number" formControlName="phone">
				<div *ngFor="let errors of formErrors.phone" class="alert alert-danger">{{errors}}</div>
			</div>
			<div class="form-group">
				<textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
			</div>
			<button type="submit" [disabled]="!form.valid" class="btn btn-success">Sign up</button>
			<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
		</div>

		<div [hidden]="!result.successed" class="alert alert-success ng-hide">
			<h4><strong>Success!</strong> We have sent a link to your email for the activation of your account. Please check your mail box. <br><br><a class="alert-link" (click)="cancel()">Return back to the login page</a></h4>
		</div>
	</form>
	<div [hidden]="result.submitted" style="margin-top: 20px;">
		<a class="forgot-pass" (click)="forgot()">
            Forgot your Password?
        </a>
	</div>
</ion-content>